[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
Django = "*"
django-environ = "*"
djangorestframework="3.12.4"
zeep = "*"
beautifulsoup4 = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.8"
